@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.errorText {
  @apply text-red-500;
  /* Use Tailwind's red color */
}

.defaultText {
  @apply text-foreground;
  /* Use the custom foreground color defined in your Tailwind config */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
